NODE_ENV=development
PORT=3000
MONGODB_URL=mongodb://mongodb:27017/interview
REDIS_URL=redis://redis:6379
JWT_SECRET=interview_secret_change_me
JWT_ACCESS_EXPIRATION_MINUTES=120
JWT_REFRESH_EXPIRATION_DAYS=1
